$white: #fff;
$grey-dark: #333333;
$grey-1: #E7E7E7;
$grey-2: #6F6F6F;
$grey-3: #b9b9b9;
$grey-4: #F7F7F7;
$green: #43AC6A;
$blue: #008CBA;
$red: #F04124;

.error{
    color: $red!important
}

.success{
    color: $green!important
}