.toggle-default{
    height: 0;
    width: 0;
    visibility: hidden;
}

.label-toggle{
    cursor: pointer;
    text-indent: -9999px;
    width: 34px;
    height: 18px;
    background: $grey-1;
    display: block;
    border-radius:10px;
    position: relative;
    margin-top: -14px;
}

.label-toggle:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    background: $white;
    border-radius: 90px;
    transition: .3s;
}

.toggle-default:checked + .label-toggle{
    background: $green;
}

.toggle-default:checked + .label-toggle:after{
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.label-toggle:active:after{
    width: 24px;
}

.label-toggle{
    .paused{
        color: $grey-1;
        a {
            color: $grey-1
        }
    }
} 

.label-toggle{
    .removed{
        color: #c1c7c9;
    }
}

.removed-tr .label-toggle{
    background: rgba(200, 200, 200, 0.3);
}